.fade-in {
    animation: fadeIn 5.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.button-grow:hover {
  animation: grow 0.9s ease;
}

@keyframes grow {
  from { transform: scale(1); }
  to { transform: scale(1.1); }
}

.loader {
  width: 40px;
  height: 40px;
  border: 5px solid #ccc;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 40px auto;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
.fade-in[data-aos] {
  opacity: 1 !important;
  transform: none !important;
}